{
  "presets": [
    ["babel-preset-kyt-react", {
      "includeRuntime": true,
      "useProductionTransforms": false,
      "envOptions": {
        "client": {
          "modules": "commonjs"
        },
        "server": {
          "modules": "commonjs"
        },
        "test": {
          "modules": "commonjs"
        }
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
