{
  "presets": [
    ["kyt-react", {"modules": true}],
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-regenerator",
  ]
}
